/* TODO(you): Write the CSS to finish the assignment! */
.flex-container
{
    display: flex;
     /*border: 2px solid black;*/
     /*height: 750px;*/
    /*margin: auto;*/
    flex-direction: row ;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-item
{
    border: 1px solid #dcdcdc;
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom:  20px;
    width: 32.5%;
    box-sizing: border-box;
}

.image
{
    width: 100%;
}

.flex-item-selected
{
    background-color: #cfe3ff;
}

.flex-item-selected .checkbox
{
    content: url("images/checked.png");
}

.flex-item-unselected
{
    opacity: 0.6;
}

.result
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.center
{
    margin: 20px;
}

.title
{
    font-weight: bold;
    margin-bottom: 18px;
}

.contents
{
    margin-bottom: 18px;
}

.reset
{
    height: 50px;
    background-color: #cecece;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}

.reset:hover
{
    background-color: #e0e0e0;
}